[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Type=Application
Icon=utilities-terminal
Exec=xfce4-terminal
Name=Terminal Emulator
GenericName=Terminal Emulator
NoDisplay=true
